h1{
    text-align: center;
}
HTML SCSSResult Skip Results Iframe
:root {
  --primary-color: #c8dc71;
  --gradient-color: linear-gradient(270deg, #ce6cec 0%, #dc717f 100%);
  --gradient-color-2: linear-gradient(270deg, #c8dc71 0%, #6cece1 100%);
  --radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #16181b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: var(--radius);
  cursor: pointer;
  position: relative;
  background: #000000;
  transition: all 0.4s ease-in-out;
}

.button span {
  color: #ffffff;
  transition: color 0.4s ease-in-out;
}

.button:hover span {
  color: var(--primary-color);
}

.button::after,
.button::before {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  border-radius: var(--radius);
  transform: translate(0px, 0px);
}

.button:hover::after {
  transform: translate(8px, -8px);
  z-index: -2;
  background: var(--gradient-color-2);
  transition: all 0.4s ease-in-out;
}

.button:hover::before {
  transform: translate(4px, -4px);
  z-index: -1;
  background: var(--gradient-color);
  transition: all 0.4s ease-in-out;
}

/* -------------------------- */

/* Contact Box */
.contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #000;
  max-width: max-content;
  border-radius: 50px;
  background-image: radial-gradient(
      227.71% 180.23% at 90.64% 130.38%,
      rgb(17, 20, 23) 0%,
      rgb(55, 59, 63) 100%
    ),
    radial-gradient(
      207.84% 121.69% at -5.69% 111.39%,
      rgb(17, 20, 23) 0%,
      rgb(55, 59, 63) 100%
    ),
    linear-gradient(
      206deg,
      rgba(123, 134, 151, 0.2) 0%,
      rgba(25, 27, 30, 0.2) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.contact-box a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 0.875rem;
  font-weight: 500;
  transition: color 0.15s ease-in,
    transform 0.35s cubic-bezier(1, 1.13, 0, 3.11);

  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
    transform: translateX(2px) rotate(-3deg);
  }
}